.header {
    background: rgb(255, 255, 255) !important;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 21;
    padding: 0 20px;
}
.header .login {
    float: right;
    margin-right: 5px;
}
.header .logo {
    display: inline-block;
    float: left;
}
.header .logo img {
    width: 273px;
    margin: 5px 0;
    max-height: 68px;
}
.header .components-row {
    float: right;
    margin-top: 14.5px;
}
.header .nav-primary {
    float: right;
    text-align: right;
    margin-right: 5px;
}



.nav-primary .nav-menu {
    font-size: 0;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.nav-primary .nav-menu li {
    display: inline-block;
    padding: 26px 18px;
    min-height: 77px;
    border-bottom: 4px solid transparent;
}
.nav-primary .nav-menu li a {
    font-weight: 300;
    color: black;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease;
}
.nav-primary .nav-menu li a:focus, .nav-primary .nav-menu li a:hover {
    background: 0 0;
    color: #f8b032;
}
.nav-primary .nav-menu li.active {
    background: 0 0;
    border-color: #f8b032;
}
.nav-primary .nav-menu li.active a {
    color: #f8b032;
}
@media(max-width:1200px) {
    .header .logo img {
    width: 200px;
    margin: 14px 0;
}
}
@media(max-width:992px) {
    .header {
    height: 78px;
}
.header .nav-primary {
    display: none;
}
.header .nav-primary.open {
    display: block;
    float: none;
    position: relative;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 77px;
}
.header .nav-primary.open .nav-menu {
    position: absolute;
    background-color: #204d6a;
    left: 0;
    top: 100%;
    width: 100%}
.header .nav-primary .nav-menu {
    display: block;
    text-align: center;
}
.header .nav-primary .nav-menu li {
    display: block;
    padding: 0;
    min-height: 64px;
}
.header .nav-primary .nav-menu li.active {
    border-bottom: 0;
}
.header .nav-primary .nav-menu li.active a {
    background-color: #34749d;
}
.header .nav-primary .nav-menu li a {
    padding: 15px 0;
    display: block;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}
.header .nav-primary .nav-menu li a:hover {
    background-color: #34749d;
}
}
@media(max-width:480px) {
    .header .logo {
    width: 50px;
    overflow: hidden;
}
}


.lan-switcher {
    display: inline-block;
    float: right;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    transition: all .2s ease;
}
.lan-switcher span {
    cursor: pointer;
    padding: 8.5px 13px;
    display: block;
}
.lan-switcher span i {
    font-size: 31px;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease;
}
.lan-switcher:after {
    top: 74%;
    left: 52%;
    border: 14px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    border-bottom-color: #34749d;
    margin-left: -15px;
}
.lan-switcher.open, .lan-switcher:focus, .lan-switcher:hover {
    background-color: #34749d;
}
.lan-switcher.open:after {
    opacity: 1;
}
.lan-switcher.open span {
    color: #f8b032;
}
.lan-switcher.open .language-list {
    display: block;
}
.language-list {
    display: none !important;
    list-style: none;
    text-align: right;
    position: absolute;
    padding: 5px;
    margin: 0;
    right: -20px;
    top: 133%;
    height: auto;
    min-width: 300px;
    width: 45vw;
    overflow: hidden;
    font-size: 0;
    background-color: #34749d;
}
.language-list::-webkit-scrollbar {
    width: 6px;
}
.language-list::-webkit-scrollbar-track {
    background-color: #275877;
}
.language-list::-webkit-scrollbar-thumb {
    background-color: #f8b032;
}
.language-list li {
    padding: 0;
    display: inline-block;
}
.language-list li a {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #fff;
    transition: all .2s ease;
}
.language-list li a span {
    display: inline-block!important;
}
.language-list li a:hover {
    transform: scale(1.2);
    color: #f8b032;
}
@media(max-width:992px) {
    .language-list {
    right: -73px;
}
}
@media(max-width:768px) {
    .language-list {
    width: 100vw;
}
}
.profile-component {
    display: inline-block;
    float: right;
    position: relative;
    text-transform: uppercase;
    transition: all .2s ease;
    margin-right: 5px;
}
.profile-component span {
    cursor: pointer;
    padding: 8.5px 15px;
    display: block;
}
.profile-component span i {
    font-size: 31px;
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease;
}
.profile-component .notification-count {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.profile-component .notification-count span {
    background: #dd4a3a;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 600;
}
.profile-component:after {
    top: 74%;
    left: 52%;
    border: 14px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    border-bottom-color: #34749d;
    margin-left: -15px;
}

.profile-component.open:after {
    opacity: 1;
}
.profile-component.open>span {
    color: #f8b032;
}
.profile-component.open .profile-component-options {
    display: block;
}
.profile-component-options {
    display: none;
    list-style: none;
    position: absolute;
    color: #888;
    padding: 0;
    margin: 0;
    right: -78px;
    top: 133%;
    font-size: 0;
    background-color: #fff;
    box-shadow:0 6px 12px rgba(0,0,0,0.175);
}
.profile-component-options li {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.profile-component-options li:last-child {
    border-bottom: 0;
}
.profile-component-options li:hover a {
    color: #f8b032;
    transform: scale(1.2);
}
.profile-component-options li:hover a i {
    color: #f8b032;
}
.profile-component-options li.userMail, .profile-component-options li a {
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: all .2s ease;
}
.profile-component-options li.userMail i, .profile-component-options li.userMail span, .profile-component-options li a i, .profile-component-options li a span {
    display: inline-block;
    color: #888;
    margin-right: 10px;
}



.nav-trigger {
    height: 48px;
    width: 48px;
    margin-left: 5px;
    border: 2px solid #fff;
    background: 0 0;
    float: right;
    display: none;
    transition: all .2s ease;
    padding: 0;
}
.nav-trigger span {
    background: #f8b032;
    display: block;
    height: 3px;
    width: 24px;
    margin: 4px auto;
    transition: all .2s ease;
}
.nav-trigger.open, .nav-trigger:hover {
    border-color: #f8b032;
    background: #f8b032;
}
.nav-trigger.open span, .nav-trigger:hover span {
    background: #fff;
}
.nav-trigger.open span:first-child {
    transform: translateY(7px) rotate(45deg);
}
.nav-trigger.open span:nth-child(2) {
    opacity: 0;
}
.nav-trigger.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
@media(max-width:992px) {
    .nav-trigger {
    display: block;
}
}
